@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pathway+Gothic+One&family=Signika+Negative&display=swap');

.all{
    position: relative; 
    width: 25rem;
    height: 14rem;
    border: 2px solid rgb(97, 47, 123);
    border-radius: 2rem;
    margin: 2rem 1rem 2rem 1rem;
    display: flex;
    flex-direction: column;
    background-image: url("https://res.cloudinary.com/dpb5vf1q1/image/upload/v1673134247/fondoo_negro2_tsz42w.jpg");
    /* background-image: url(https://static.vecteezy.com/system/resources/thumbnails/001/626/668/original/a-digital-representation-of-a-compass-by-the-globe-in-a-blue-background-free-video.jpg); */
    background-repeat: no-repeat;
    background-position: 100% ;
    background-size: 120%;
}

/* .a, .b, .c, .d, .e{
    background-image: url(https://i.pinimg.com/736x/1d/42/a4/1d42a433af0efd8d3004f9baaa8868fa.jpg);
}

.f, .g, .h, .i, .j{
    background-image: url(https://i.pinimg.com/736x/2d/74/e8/2d74e8cd2d723fff1d6a6fba2a261f41.jpg);

}

.k, .l, .m, .n, .ñ{
    background-image: url(https://i.pinimg.com/736x/bb/a1/03/bba1031f51012d7d777c8faa7193a000.jpg)
}

.o, .p, .q, .r, .s{
    background-image: url(https://www.shutterstock.com/image-vector/abstract-white-gray-color-background-260nw-1917662510.jpg);
    
}

.t, .u, .v, .w, .x, .y, .z{
    background-image: url(https://static.vecteezy.com/system/resources/previews/001/849/587/non_2x/abstract-white-background-free-vector.jpg);
} */

.arriba{
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin-top: 1rem;
    margin-bottom: 0rem;
}

.arribaTexto{
/* -webkit-text-stroke: 1px black; */
  /* color: white;  */
  color: rgb(26, 195, 26);
  text-transform: uppercase;
  font-family: 'Heebo', sans-serif;
}

.stTittle{
    /* font-family: 'Nunito Sans', sans-serif; */
    /* color: #abff2e; */
    /* font-family: 'Heebo', sans-serif; */
    color:white;
    font-family: 'Signika Negative', sans-serif;
    margin-top: -0.3rem;
    font-weight: 500;
    /* text-shadow: 3px 3px 4px rgba(255,255,255,0.98); */
}

.stClick{
    /* font-family: 'Pathway Gothic One', sans-serif; */
    font-style: italic;
    /* text-transform:lowercase ; */
    color: white;
    color: #abff2e;
  text-transform: uppercase;
  font-family: 'Heebo', sans-serif;
}