.preCart-container {
  margin-top: 8px;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  width: 325px;
  height: 381px;
  /* background-color: aqua; */
  padding: 0px 50px;
  border-radius: 8px;
  border: 1px solid grey;
  box-shadow: 0px 0px 10px 11px rgba(81, 41, 131, 0.5);
}
.button-preCart {
  color: white;
  font-weight: 600;
  background-color: #8c47e0;
  width: 100%;
  padding: 6px;
  border-radius: 6px;
  margin-top: 10px;
  cursor: pointer;
}
.button-preCart:hover {
  background-color: green;
}
.title-preCart {
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;
  color: #512983;
  font-weight: 600;
}
