/* @import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@700&display=swap');



.all{
    display: flex;
    justify-content: space-evenly;
    background: #ADA996;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    height: 100vh;
    width: 100vw;
    user-select: none; 
}


.parteUno{
    display: flex;
    flex-direction: column;
}

.parteDos{
    display: flex;
    flex-direction: column;
}

.startH4{
    display: flex;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 500;
    /* font-size: x-large; */
    color: rgb(0, 0, 0);
    margin-top: 3rem;
    margin-bottom: 0px;
}

.startH2{
    font-family: 'Noto Sans', sans-serif;
    font-weight: bold;
    /* font-size: x-large; */
    color: rgb(0, 0, 0);
    margin-top: 0.5rem;
}

.orH2{
    font-family: 'Noto Sans', sans-serif;
    font-weight: 600;
    color: #000000;
    text-shadow: 2px 1px 5px rgb(125, 217, 245);
}

.finalH2{
    display: flex;
    font-family: 'Noto Sans', sans-serif;
    font-weight: bold;
    /* font-size: x-large; */
    color: rgb(0, 0, 0);
    margin-top: 5rem;
}


.secciones{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 1.3rem;
}

.circuloNormal{
    background-color: rgb(255, 255, 255);
    border-radius: 100%;
    height: 1.3em;
    width: 1.3em;
}

.circuloPintado{
    background-image: radial-gradient( circle 685.3px at 47.8% 55.1%,  rgba(255,99,152,1) 0%, rgba(251,213,149,1) 90.1% );
    border-radius: 100%;
    height: 1.3em;
    width: 1.3em;
}

.buttonsDiv{
    display: flex;
    justify-content: space-around;
}

.ButSignUp{
    position: relative;
    /* background: rgb(0, 255, 255, 0.2); */
    background: none;
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    text-decoration: none;
    border: 0.2em solid rgb(212, 0, 255);
    padding: 0.5em 1em;
    border-radius: 5px;
    font-family: 'Fira Sans', sans-serif;
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.ButSignUp:before {
      content: "";
      display: block;
      position: absolute;
      width: 10%;
      background: #222;
      height: 0.3em;
      right: 20%;
      top: -0.21em;
      transform: skewX(-45deg);
      -webkit-transition: all 0.45s cubic-bezier(0.86, 0, 0.07, 1);
      transition: all 0.45s cubic-bezier(0.86, 0, 0.07, 1);
}
    
.ButSignUp:after {
      content: "";
      display: block;
      position: absolute;
      width: 10%;
      background: #222;
      height: 0.3em;
      left: 20%;
      bottom: -0.25em;
      transform: skewX(45deg);
      -webkit-transition: all 0.45 cubic-bezier(0.86, 0, 0.07, 1);
      transition: all 0.45s cubic-bezier(0.86, 0, 0.07, 1);
    }

    .ButSignUp:hover:before {
        right: 80%;
      }

      .ButSignUp:hover::after {
        left: 80%;
      }


.ButLogin{
    position: relative;
    /* background: rgb(0, 255, 255, 0.2); */
    background: none;
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    text-decoration: none;
    border: 0.2em solid rgb(212, 0, 255);
    padding: 0.5em 1em;
    border-radius: 5px;
    font-family: 'Fira Sans', sans-serif;
}

.ButLogin:before {
      content: "";
      display: block;
      position: absolute;
      width: 10%;
      background: #222;
      height: 0.3em;
      right: 20%;
      top: -0.21em;
      transform: skewX(-45deg);
      -webkit-transition: all 0.45s cubic-bezier(0.86, 0, 0.07, 1);
      transition: all 0.45s cubic-bezier(0.86, 0, 0.07, 1);
}
    
.ButLogin:after {
      content: "";
      display: block;
      position: absolute;
      width: 10%;
      background: #222;
      height: 0.3em;
      left: 20%;
      bottom: -0.25em;
      transform: skewX(45deg);
      -webkit-transition: all 0.45 cubic-bezier(0.86, 0, 0.07, 1);
      transition: all 0.45s cubic-bezier(0.86, 0, 0.07, 1);
    }

    .ButLogin:hover:before {
        right: 80%;
      }

      .ButLogin:hover::after {
        left: 80%;
      }


    
  .butNext{
        margin-top: 2rem;
        position: relative;
        /* background: rgb(255, 0, 0, 0.2); */
        background: none;
        color: rgb(255, 0, 0);
        text-transform: uppercase;
        text-decoration: none;
        border: 0.2em solid rgb(255, 0, 0);
        padding: 0.5em 1em;
        border-radius: 5px;
        font-family: 'Fira Sans', sans-serif;
    }
    
    .butNext:before {
          content: "";
          display: block;
          position: absolute;
          width: 10%;
          background: #222;
          height: 0.3em;
          right: 20%;
          top: -0.21em;
          transform: skewX(-45deg);
          -webkit-transition: all 0.45s cubic-bezier(0.86, 0, 0.07, 1);
          transition: all 0.45s cubic-bezier(0.86, 0, 0.07, 1);
    }
        
    .butNext:after {

          content: "";
          display: block;
          position: absolute;
          width: 10%;
          background: #222;
          height: 0.3em;
          left: 20%;
          bottom: -0.25em;
          transform: skewX(45deg);
          -webkit-transition: all 0.45 cubic-bezier(0.86, 0, 0.07, 1);
          transition: all 0.45s cubic-bezier(0.86, 0, 0.07, 1);
        }
    
        .butNext:hover:before {
            right: 80%;
          }
    
          .butNext:hover::after {
            left: 80%;
          }


    .contLogin{
        margin-top: 3vh;
    }


.forget{
    color: rgb(42, 3, 199);
    font-style: italic;
    cursor: pointer;
    font-weight: bold;
    /* color: rgba(137, 16, 243, 0.2); */
}


.divPassword{
    display: flex;
    justify-content: space-around;
}

.ojo1{
    margin-top: 1.8rem;
    /* margin-bottom: auto; */
    height: 1.5rem;
    width: 1.5rem;
}

.ojo2{
    margin-top: 1.8rem;
    /* margin-bottom: auto; */
    height: 1.5rem;
    width: 1.5rem;
}

.google{
    height: 1rem;
    width: 1rem;
    margin-left: 0.3rem;
    /* padding-top: 1rem; */
}

.contInputs{
    display: flex;
    flex-direction: column;
}