.contPagination{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10vh;
}

.contButons{
    display: flex;
    /* flex-direction: row;
    justify-content: center; */
}

.contFilter{
    margin-top: 2vh;
    margin-right: 50vh;
}