.boximage {
  background-image: url("../../Images/Brontosaurio.png");
  background-repeat: no-repeat;
  background-position: 100% 0;
  padding-bottom: 50px;
  background-size: 41%;
}

.box {
  margin-left: 20px;
}

.trending-coins {
  font-size: 2rem;
}
